<html>
<head>
<title>The Daily UTF</title>
<style>
    body {text-align: center; background: #223; font-family: sans-serif;}
    #char {display: inline-block; margin: 100px auto; border: 1px solid #aaa; padding: 10px; background: #eee; border-radius: 10px; min-width: 300px;}
    #c1 {display: none;}
    #c2 {display: none;}
    #error {color: red;}
    h1 {font-size: 500%;}
</style>
<link rel="alternate" type="application/rss+xml" title="The Daily UTF RSS" href="{% url feed %}"/>
</head>
<body>
    <div id="char">
        <h2>{{object.char.desc|lower}}</h2>
        <h1>&#x{{object.char.char}};</h1>
        <div id="error"></div>
    </div>
    <canvas id="c1" width=128 height=128></canvas>
    <canvas id="c2" width=128 height=128></canvas>

<script>
    c1 = document.getElementById('c1');
    ctx1 = c1.getContext('2d');
    c2 = document.getElementById('c2');
    ctx2 = c2.getContext('2d');

    ctx1.font = ctx2.font = "32pt sans-serif";
    
    char1 = String.fromCharCode(parseInt("{{object.char.char}}", 16));
    char2 = String.fromCharCode(parseInt("10FFFF", 16));

    ctx1.fillText(char1, 64-ctx1.measureText(char1).width/2, 64);
    ctx2.fillText(char2, 64-ctx2.measureText(char2).width/2, 64);
    data1 = c1.toDataURL();
    data2 = c2.toDataURL();
    if(data1 == data2) {
        document.getElementById('error').innerHTML = "Sorry, looks like your font doesn't support this character.";
    }
</script>
</body>
</html>
